<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="{{@blog.url}}/privacy-policy">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col text-right">
                <section class="copyright">
                    <a href="{{@blog.url}}" rel="copyright"><strong>{{@blog.title}}</strong></a> &copy; {{date format="YYYY"}}
                </section>
                <section class="themeby">
                    Like this theme? Get it <strong><a href="//github.com/nehalist/Haven">here</a></strong>!
                </section>
            </div>
        </div>
    </div>
</footer>
